<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>sss-db-tests.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level[%.15thread] %logger{1} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
            <level>WARN</level>
        </filter>
        <target>System.out</target>
        <encoder>
            <pattern>[%thread] >> [%-5level] %logger{36} >> %d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>
    <logger name="com.zaxxer.hikari">
        <level value="on"/>
    </logger>
    <logger name="sss.db">
        <level value="DEBUG"/>
    </logger>

</configuration>
